table, th, td {
        border: 1px solid rgb(255, 0, 0);
}
body{
    background-image: url(body_bg.jpg);
    
}
.f1 li{
    display: inline;
    padding-right: 20px;
    margin: 0;
    font-family: "Roboto";
}

.f1 a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.cards{
    display: flex;
    
}
.cards div:last-of-type{

    margin-left: 10px;
}
.swts{
    display: flex;
}
.swts div:last-of-type{
margin-left: 10px;
}
.ads{
    display: flex;
}
.ads div:last-of-type{
    margin-left: 10px;
}
