table, th, td {
        border: 1px solid rgb(255, 0, 0);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: sticky;
    top: 0;
}
img{
    width: 320px;
    height: 320px;
}
header input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
}
.search-bar{
    color: rgb(122, 122, 122);
    margin-bottom: 10px;
    font-weight: 400;
    font-family: Georgia;
    border-radius: 10px;
}
body{
    margin: 0;
    background-image: url(body_bg.jpg);
    
}
ul{
    margin: 0;
    display: flex;
    list-style: none;
}
.f1 li{
    padding-right: 20px;
    font-family: "Roboto";
}

.f1 a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
.cards p{
    font-family: roboto;
    color: (122, 122, 122);
}
.cards{
    display: flex;
    
}
.cards div:last-of-type{

    margin-left: 10px;
}
.cards input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.cards input:hover{
    background-color: rgb(125, 172, 179);
    color: white;
    border: transparent;
}
footer div{
    color: (122, 122, 122);
    font-weight: 400;
    font-family: roboto;
}
